$navibar_width_open: 300px;
$navibar_width_collapse: 50px;
$navibar_transition_speed: 0.3s;
$navibar_element_height: 40px;
$navibar_level_padding: 15px;

$header_height: 60px;

$page_padding_top: 35px;

$panel_header_line_height: 15px;
$panel_header_min_height: 50px;
$panel_content_padding: 15px 20px;

$wizard_header_line_height: 15px;
$wizard_header_min_height: 50px;
$wizard_content_padding: 15px 20px;