@import 'colors';
@import 'variables';

.action-button {
    width: $action_button_size_mobile;
    height: $action_button_size_mobile;
    padding: 3px 0 0 0;
    text-align: center;
    line-height: 1.42857;
    color: $default_text_color;
    border-color: $default_text_color;
    font-size: 10px;
    margin-left: 5px;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    .action-button {
        width: $action_button_size;
        height: $action_button_size;
        padding: 6px 0px;
        font-size: 12px;
    }
    
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}