$default_blue: #1c4aac;
$default_blue_darken: darken($default_blue,15%);
$default_blue_lighten:lighten($default_blue,15%);
$default_blue_darker:darken($default_blue,30%);
$default_blue_lighter:lighten($default_blue,30%);

$navibar_background: #1C2B36;