#search {
    width: calc(100% - 20px);
    margin: 10px 10px 0 0;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    #search {
        width: 200px;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}