#search {
  width: 100%;
  margin: 10px;
}

div.filters {
  @extend .form-control;
  @extend .form-control-sm;
  border: 0px;
  width: auto;
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
