@import 'variables';
@import 'colors';
#navibar {
    height: calc(100% - #{$header_height});
    margin-top: $header_height_mobile;
    background-color: $navibar_background;
    transition: width $navibar_transition_speed;
    position: fixed;
    z-index: 5;
    top: 0;
    @include float-left;
}

#navibar.navibar-open {
    width: $navibar-width-open;
}

#navibar.navibar-collapsed {
    width: 0px;
}

#navibar ol {
    padding: 0;
}

#navibar a {
    text-decoration: none;
}

#navibar li {
    list-style-type: none;
}

#navibar .navibar-element {
    height: $navibar_element_height_mobile;
    display: block;
    cursor: pointer;
    line-height: $navibar_element_height_mobile;
    color: white;
}

#navibar.navibar-collapsed .navibar-element {
    display: none;
}

#navibar.navibar-collapsed .navibar-element-text {
    display: none;
}

#navibar .navibar-element:hover {
    color: $default_blue_lighten;
}

#navibar .navibar-element-icon,
.navibar-element-text {
    margin: $navibar_element_margin_mobile;
    display: inline;
}

#navibar .navibar-element-icon.float-right {
    margin-right: 15px;
}

#navibar.navibar-collapsed .navibar-element-icon.float-right {
    display: none;
}

#navibar .navibar-element-active {
    background-color: $default_blue_lighten;
}

#navibar .navibar-element-active:hover {
    color: white;
}

#navibar .level-container {
    transition: max-height $navibar_transition_speed;
    overflow: auto;
    max-height: 250px;
    background-color: darken($navibar_background, 5%);
}

#navibar .level-collapsed {
    max-height: 0;
}

#navibar.navibar-open .level-1 .navibar-element {
    padding-left: $navibar_level_padding;
}

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    #navibar {
        margin-top: $header_height;
    }
    #navibar.navibar-collapsed {
        width: $navibar_width_collapse;
    }
    #navibar.navibar-collapsed .navibar-element {
        display: block;
    }
    #navibar .navibar-element {
        height: $navibar_element_height;
        line-height: $navibar_element_height;
    }
    #navibar .navibar-element-icon,
    .navibar-element-text {
        margin: $navibar_element_margin;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}