@import 'variables';
div.content {
    height: 100%;
    margin-top: $header_height_mobile;
    padding-top: $page_padding_top_mobile;
    transition: width $navibar_transition_speed, margin-left $navibar_transition_speed;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    white-space: pre-line;
}

div.content .content-top .page-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
}

div.content .content-top {
    padding-left: 15px;
}

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@media (max-width: 576px) {
    div.content .content-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    div.content.navibar-open {
        width: calc(100% - #{$navibar_width_open} - 20px);
        margin-left: $navibar_width_open;
    }
    div.content.navibar-collapsed {
        width: calc(100% - #{$navibar_width_collapse} - 20px);
        margin-left: $navibar_width_collapse;
    }
    div.content {
        padding-left: 15px;
        margin-top: $header_height;
        padding-top: $page_padding_top;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}