// Desktop
$font_size: 11pt;
$navibar_width_open: 300px;
$navibar_width_collapse: 50px;
$navibar_transition_speed: 0.3s;
$navibar_element_height: 40px;
$navibar_level_padding: 15px;
$navibar_element_margin: 10px 0 0 15px;

$header_height: 60px;

$page_padding_top: 35px;

$panel_header_line_height: 50px;
$panel_header_min_height: 50px;
$panel_content_padding: 15px 20px;

$wizard_header_line_height: 15px;
$wizard_header_min_height: 50px;
$wizard_content_padding: 15px 20px;


// Mobile
$font_size_mobile: 8pt;
$navibar_width_collapse_mobile: 0px;
$navibar_element_height_mobile: 40px;
$navibar_level_padding_mobile: 15px;
$navibar_element_margin_mobile: 15px 0 0 15px;

$header_height_mobile: 40px;

$page_padding_top_mobile: 10px;

$panel_header_line_height_mobile: 30px;
$panel_header_min_height_mobile: 30px;
$panel_content_padding_mobile: 5px 10px;

$wizard_header_line_height_mobile: 15px;
$wizard_header_min_height_mobile: 50px;
$wizard_content_padding_mobile: 15px 20px;