@import "../../node_modules/bootstrap-scss/bootstrap.scss";
@import "header";
@import "navibar";
@import "page";
@import "panel";
@import "bootstrap_changes";
@import "order";
@import "wizard";
@import "checkbox";
@import "login";
@import "loading_animation";
@import "404";
@import "403";
@import "datalist";
@import "action";
@import "colors";
@import "form_entry";
@import "fonts";
@import "button";
@import "inputs";
@import "working_indicator";
@import "loading_dots";

* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html,
body,
#root,
.body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: $font_size_mobile;
    color: $default_text_color;
    background-color: #d9d9d9;
    font-family: Calibri, "Open Sans", sans-serif;
}

.edit {
    color: white;
}

@include media-breakpoint-up(md) {
    html,
    body,
    #root,
    .body {
        font-size: $font_size;
    }
}
