@import "memberlist";
@import "pdf_variables";

.template {
  .title {
    font-weight: bold;
    font-size: 20pt;
  }
  .header-left,
  .header-center,
  .header-right {
    position: absolute;
    top: $margin_top;
    height: 0.75cm;
  }
  .header-left {
    left: $margin_left;
  }
  .header-center {
    left: 25vw;
  }
  .header-right {
    right: $margin_right;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    position: absolute;
    bottom: $margin_bottom;
    height: 0.75cm;
  }
  .footer-left {
    left: $margin_left;
  }
  .footer-center {
    left: 25vw;
  }
  .footer-right {
    right: $margin_right;
  }
}
