@import "../colors";

.memberlist-pdf {
  tr {
    td,
    th {
      font-size: 9pt;
      padding: 5px;
      a {
        color: $default_text_color;
        text-decoration: none;
      }
      &[data-key*="phone"],
      &[data-key*="rank"] {
        width: 100px;
      }
      &[data-key*="functions"] {
        width: 120px;
      }
    }
  }
}
